<h2 class="mat-body-1">Select a region:</h2>
<mat-form-field>
  <mat-label>Regions</mat-label>
  <select matNativeControl required>
    <option value="eastCounties">East Counties</option>
    <option value="eastMidlands">East Midlands</option>
    <option value="london">London</option>
    <option value="northEast">North East</option>
    <option value="southEast">South East</option>
    <option value="southWest">South West</option>
    <option value="westMidlands">West Midlands</option>
    <option value="yorkshire">Yorkshire and Humberside</option>
    <option value="northernIreland">Northern Ireland</option>
    <option value="scotland">Scotland</option>
    <option value="wales">Wales</option>
  </select>
</mat-form-field>