<h1 class="mat-headline">Restaurant Details</h1>
<mat-card>
  <h2 class="mat-body-1">Location and Contact</h2>
</mat-card>

<mat-card>
  <h2 class="mat-body-1">Food Rating Inspection</h2>
</mat-card>

<mat-card>
  <mat-card-title> Address: </mat-card-title>
  <mat-card-content
    ><p class="mat-body-1">{{ address1 }}</p>
    <p class="mat-body-1">{{ address2 }}</p>
    <p class="mat-body-1">{{ address3 }}</p>
    <p class="mat-body-1">{{ address4 }}</p></mat-card-content
  >
</mat-card>
<div *ngIf="restaurantDetail$ | async as restaurantDetail">
  <mat-card>
    <h2 class="mat-body-1">Location and Contact</h2>
    <p class="mat-body-1">{{ restaurantDetail.BusinessName }}</p>
  </mat-card>

  <mat-card>
    <h2 class="mat-body-1">Food Rating Inspection</h2>
    <p class="mat-body-1">{{ restaurantDetail.RatingValue }}</p>
    <p class="mat-body-1">{{ restaurantDetail.RatingDate | date }}</p>
  </mat-card>
</div>
